  

<!--section first-section-->
<section id="Cats">
    <div class="section first-section">
      <div class="container">
        <div class="row">
            <div class="row align-items-center justify-content-around">
          <!-- column 1 -->
            <div class="col-12 col-lg-5">
    
                <img class="img-fluid" src="assets/image/highres6.jpg" alt="Cat with Attitude">
          </div>
    
          <!-- column 2 -->
           <div class="col-12 col-lg-5">
            <h2 style="color: aliceblue;"></h2>
            <p style="color: aliceblue;"> <b style="font-size: xx-large;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> The University </b>boasts of not only the best placement cell and a structured academic approach,but also world-class facilities which Include:</p>
    
            <ul style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
              <li>A well-stacked ever expanding and thriving library</li>
              <li>World-class sports infrastucture inside the campus</li>
              <li>Seperated dormitory and hostel facilities</li>
              <li>The famous Maine Hall which houses the best auditorium</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
        </div>
     </section>
          <!--section second-section-->
        <section id="Diet">
     <div class="section second-section">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-12 col-sm-10 col-md-8 col-lg-5">
            <h2 style="font-size: xx-large;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Some Highlights</h2>
                </div>
              </div>
        </div>
         </div>
         <div class="section second-section">
      <div class="container">
        <div class="row">
       
      <div class="col-12 col-sm-6 col-lg-3">
                    <img src="/assets/image/icon1.png" alt="donut">
        <h3>Courses</h3>
        <p>Up to date and interactive course structure.</p>
                    
                 </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="/assets/image/icon2.jpg" alt="candy">
        <h3>Amenities</h3>
        <p>A campus that boasts of a first-class infrastructure.</p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="/assets/image/icon3.jpg" alt="cake">
        <h3>Books</h3>
        <p>A carefully selected collection on the on-campus library.</p>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="/assets/image/icon4.jpg">
        <h3>Students First</h3>
        <p>A student-oriented,student-friendly and interactive approach.</p>
      </div>
    </div>
          </div>
             </div>
            </section>
        
            <!--section third-section-->
        <div class="section third-section">
      <div class="container">
        <div class="row align-items-center justify-content-around">
          <div class="col-12 col-md-5">
            <h2>Message from the Chancellor's Office</h2>
            <p>Dear Main University Fraternity,
              The oldest university of the country, established in the year 1890, is acclaimed for its outstanding contribution in nation building. The product of the university has given its best in all sectors and units of the country and abroad – be it the field of politics, administration, teaching, management, law, science, technology and research including defence research, etc. The University in these almost 133 years has produced many great noble souls.
              Any university is a typical industry....</p>
            <a class="btn btn-lg btn-primary" href="#" routerLink="message">Read more</a>
          </div>
    
          <div class="col-12 col-md-5">
            <img class="rounded img-fluid" src="assets/image/univ1.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
        
            <!--section fourth-section-->
        <div class="section fourth-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Come be a part of the fastest growing University in the world.</h2>
            <p>Over 10000 students rich alumni</p>
            <a class="btn btn-lg btn-primary" href="#">Connect</a>
          </div>
        </div>
      </div>
    </div>
