<h1>Rules & Regulations for Prevention and Prohibition of Ragging</h1>
<p> 

    The All India Council For Technical Education (AICTE), New Delhi vide its
    Notification no. 37-3/Legal/AICTE/2009 dated 25-03-2009 has taken a very serious
    view of ragging incidences in educational institutions and on Directions of the
    Hon’ble Supreme Court of India vide its Order dated 16.5.2007 has ordered strict
    implementation of following rules & regulations for Prevention and prohibition of
    Ragging in technical Institutions.
</p>
