<div class="hm">
    <h1>HISTORY</h1>
    
    <h3>INTRODUCTION</h3>
    <p>
        
    Main University has always occupied an esteemed place among the 
    universities of India for over a century now. 
    Established on October 1890, it is the oldest university of India 
    .The credit for conceiving a large Central College at that place, 
    eventually to develop into a University, is due to Sir Willie Banks. 
    As a result of his initiative the foundation stone of the Central College
      was laid on Dec. 19 1890 . Sir Willie Banks said on that occasion: 
      "The establishment of a central college here has been my 
      earnest desire ever since I assumed my present office. 
      Shortly after coming here I found that a strong wish 
      prevailed among the chief people of the place for a 
      better means of education here; 
      and being myself deeply impressed with the same conviction, 
      I took occasion which I held here to urge upon those present 
      the necessity of showing that they were sincere and in earnest, 
      by contributing to the work. 
      The appeal was widely and liberally met, 
      a considerable sum was subscribed and address was presented to me in 1879, 
      praying for the establishment of the college here." 
      On december 19, 1889 Act XVII was passed which established it. 
      Like other Universities, this also started as a degree conferring 
      institution. Its first entrance examination was held in March 1891. 
      </p><br/><br/> 
    
    
    </div>
