<h1>Various Types of Ragging</h1>

<p>
The Hon’ble Supreme Court has, inter-alia, mentioned the following types of ragging:-<br/>
1. Ragging has several aspects with, among others, psychological, social,
political, economic, cultural, and academic dimensions.<br/><br/>
2. Any act that prevents, disrupts or disturbs the regular academic activity of a
student should be considered with in the academics related aspect of
ragging; similarly, exploiting the services of a junior student for completing
the academic tasks assigned to an individual or a group of seniors is also an
aspect of academics related ragging prevalent in many institutions,
particularly in the technical institutions.<br/><br/>
3. Any act of financial extortion or forceful expenditure burden put on a junior
student by senior students should be considered an aspect of ragging for
ragging economic dimensions.<br/><br/>
4. Any act of physical abuse including all variants of it: sexual abuse,
homosexual assaults, stripping, forcing obscene and lewd acts, gestured,
causing bodily harm or any other danger to health or person can be put in
the category of ragging with criminal dimensions.<br/><br/>
5. Any act or abuse by spoken words, emails, snail-mails, blogs, public insults
should be considered with in the psychological aspects of ragging. This
aspect would also include deriving perverted pleasure, vicarious or sadistic
thrill from actively or passively participating in the discomfiture to others; the
absence of preparing ‘freshers’ in the run up to their admission to higher
education and life in hostels also can be ascribed as a psychological aspect
of ragging – coping skills in interaction with seniors or strangers can be
imparted by parents as well. Any act that affects the mental health and selfconfidence of students also can be described in terms of the psychological
aspects of ragging.<br/><br/>
6. The human rights perspective of ragging involves the injury caused to the
fundamental right to human dignity through humiliation heaped on junior
students by seniors; often resulting in the extreme step of suicide by the
victims.<br/>
</p>
