<div class="row">
<div class="col-md-5">
<h1 style="color: blue;">Message from the Chancellor's Office</h1>
    
<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Dear Main University Fraternity,<br/><br/>
The oldest university of the country, established in the year 1890, 
is acclaimed for its outstanding contribution in nation building. 
The product of the university has given its best in all sectors and 
units of the country and abroad – be it the field of politics, 
administration, teaching, management, law, science, technology and 
research including defence research, etc.<br/><br/> 
The University in these almost 133 years has produced many great noble
 souls.<br/><br/><br/>

Any university is a typical industry.
The input is a sophomore – a fresh student coming out of the college – 
who is bubbling with energy and has a desire to contribute his/her 
best to the society and the output is a thoughtful and knowledgeable 
person who may contribute his best for the development of the society 
and the nation.<br/><br/>
 The four processing engines are its past students, the teachers, 
 the support staff and the administration. 
 Each one has its own meaningful role to play in molding young minds 
 for the expected best output. The most important engine of this system
  is the student. They have to realize that the university 
  is meant for them. They have to see that there is peace and calm 
  in the entire campus of the university so that the teaching 
  goes on well and there is no chaos anywhere. 
  The university desires to give wings to the dreams of the students. 
  The students have to be passionate about their dream to make the 
  society proud of their achievements.<br/><br/>

I expect the parents to keep a track of their ward’s progress, reminding them to remain focused on their set goal and inculcating in them a sense of responsibility. They need to motivate them to work extremely hard for a greater cause in life.<br/><br/>

I acknowledge the contribution of all the alumni who have made an indelible mark wherever they reached or are there because of which the university is known as the Oxford of the East. We request our alumni to provide fruitful and positive suggestions for the betterment of the university and urge everyone to join us in fostering a healthy and peaceful atmosphere not only in the university campus but the campus of all the constituent colleges as well.</p>
</div>

<div class="col-md-6">
  <img src="/assets/image/chancellorpic.jpg">
</div>
</div>