
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#" routerLink="about">About</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Activities
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" routerLink="admission">Admission</a></li>
          <li><a href="#" routerLink="antiragging">antiragging</a></li>
          <li><a href="#" routerLink="hostel">Hostel facility</a></li>
          <li><a href="#" routerLink="hall">Hall</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Almuni
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" routerLink="scholarships">scholarship</a></li>
          <li><a href="#" routerLink="classes">computer center</a></li>
          <li><a href="#" routerLink="placement">placement</a></li>
        </ul>
      </li>
      
      <li><a href="#" routerLink="gallery">Gallery</a></li>

      
    </ul>
  </div>
</nav>
