<div>
<h1>VISION & MISSION</h1>
 

<h3> Vision:</h3><br/>
<p>“The University Placement Cell, University of Main envisions and strives to be the most preferred and one stop destination for prospective employers, looking for qualified and fresh human resource from different streams.”
<br/><br/><br/>
</p>


<h3>Mission:</h3>
<br/>
<p>                
    “Our mission is to work towards enhancing the employability of the students of the University through continuous personality development programmes, workshops and active engagement of all the stakeholders. Creating awareness and inclination towards recent and relevant internship and job prospects and to facilitate both on and off campus placement opportunities.”
                <br/><br/><br/></p>


            </div>