div
{
    margin-top: 0;
    margin-left: 0;
 background-image: url("/assets/image/highres3.jpg");
 background-size: cover;
 position:relative;
 color: navajowhite;
 min-height: 400px;
 font-size: 30px;
}

h1,h3
{
    color: floralwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}