
<div>
<h2>Hostel</h2>
<p>
    
    From the beginning the University has been concerned about 
    women's education. It purchased houses for a women's Hostel and 
    College and other buildings adjoining the College. 
    While classes for girls were started in the old building, 
    Girls Hostel was constructed for the boarders and recently the 
    New Girls Hostel has been constructed to accommodate many more 
    boarders. 
    Ever since the inception of College in 1883, 
    efforts were constantly made to accommodate students coming from 
    distant places. Formerly their were two boarding houses, one 
    situated further away, where the Hospital now stands. 
    Later this boarding house was shifted to the tiled outhouse of the 
    Castle, where the classes of the Collage were held. 
    Finally it was shifted to a large thatched bungalow near the 
    Lodge. 
</p>
</div>