div p
{
margin-top: 20px;
height: 600px;
width: 100%;
    color:white;
    font-style: italic;
    font-size: 30px;
    
}

div
{
    margin-top: 0;
    margin-left: 0;
    background-image: url("/assets/image/hostel-3.jpg");
    background-size: cover;
    position:relative;
    
}