<div class="container">
  <div class="card">
    <br/>
    <h2>DUMMY FORM</h2>
<form >
      <div class="form-row">
            <div class="col-md-6">
              <div class="form-group" [class.error]="firstn.touched && firstn.invalid">
                <label for="">first name:</label>
                 <input type="text" class="form-control" #firstn=ngModel required name="fname" [(ngModel)]="user.fname">   
            <p *ngIf="firstn.touched && firstn.invalid" >first name required</p>
                </div>

            </div>
          
            
          <div class="col-md-6">
              <div class="form-group" [class.error]="lastn.touched && lastn.invalid">
                <label for="">last name:</label>
                 <input type="text" class="form-control" #lastn=ngModel required name="lname" [(ngModel)]="user.lname">   
                 <p *ngIf="lastn.touched && lastn.invalid" >last name required</p>
         
                </div>
          </div>
        
  
        <div class="form-row">
          <div class="col-md-12">
          <div class="form-group" [class.error]="eml.touched && eml.invalid">
            <label for="">email:</label>
             <input type="email" class="form-control" name="email" #eml=ngModel required pattern="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,63}$" [(ngModel)]="user.email">   
             <p *ngIf="eml.touched && eml.errors?.required" >email required</p>
             <p *ngIf="eml.touched && !eml.errors?.required && eml.invalid" >invalid email!!</p>
            </div>
    </div>
  </div>
    <div class="form-row">
      <div class="col-md-12">
      <div class="form-group" [class.error]="mob.touched && mob.invalid"></div>
      <label for="">mobile:</label>
      <input type="text" class="form-control" #mob=ngModel name="mobile" required pattern="^\d{4}\d{2}\d{4}$" [(ngModel)]="user.mobile">   
      <p *ngIf="mob.touched && mob.errors?.required" >mobile required</p>
      <p *ngIf="mob.touched && !mob.errors?.required && mob.invalid" >invalid number!!</p>
     
     </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12">
    
      <div class="form-group" [class.error]="add.touched && add.invalid">
        <label for="">address:</label>
         <textarea name="address" cols="25" rows="4" class="form-control"  #add=ngModel required minlength="50" maxlength="80"  [(ngModel)]="user.address"></textarea>
         <p *ngIf="add.touched && add.errors?.required" >address required</p>
         <p *ngIf="add.touched && !add.errors?.required && add.invalid" >invalid address..kindly re-enter</p>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCountry">Country</label>
        <input type="text" class="form-control" id="inputCountry" [(ngModel)]="user.country">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" [(ngModel)]="user.state">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="pin">Pin code</label>
        <input type="number" class="form-control" id="pin">
      </div>
    </div>

    <div class="form-row align-items-center">
        <div class="col-md-8 my-1">
          <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Course applying for:</label>
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose course applying for</option>
            <option value="1">Arts</option>
            <option value="2">Science</option>
            <option value="3">Engineering</option>
            <option value="3">Post graduate courses</option>
            <option value="3">others</option>
          </select>
        </div>
        <div class="col-auto my-1">
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
            <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
          </div>
        </div>
      </div><br/><br/>




    <button type="submit" class="btn btn-primary col-md-4 my-1 bt">Submit details</button>
    </form>
</div>
</div>

