.card
{
    width: 750px;
    margin-left: 200px;
background-color: darkgrey;
position: relative;
}

.bt
{
    margin-left: 250px;
}

h2{
    margin-left: 270px;
}

.error
{
    color: red;
}

.error input
{
    border-color: red;
}



