.card
{
    width: 750px;
    margin-left: 400px;
border-radius: 20%;
background-color: lightblue;
opacity: 0.8;
position: relative;
}

body
{
    background-image: url("/assets/image/highres2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}


.bt
{
    margin-left: 130px;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-top-left-radius: -25%;
    border-top-right-radius: -25%;
        
}

.sub
{
    background-color: darkgrey;
}

h2{
    margin-left: 270px;
}

.error
{
    color: red;
}

.error input
{
    border-color: red;
}



