.p1 p
{
margin-top: 80px;
height: 550px;
width: 100%;
    color: white;
    font-style: italic;
    font-size: 40px;
}

h2{
    margin-left: 700px;
    margin-top: 50px;
    font-size: 59px;
    font-style: oblique;
}

div
{
    margin-top: 0;
    margin-left: 0;
 background-image: url("/assets/image/hallhighres.jpg");
 background-size: cover;
 position:relative;
 
}