<div class="p1">
<h2>Hall</h2>
<p>
    
    In 1892-93 the University began to invest some capital in the 
    Government Securities. In 1899-1900 its reserve fund amounted to 
    Rs. 34,000. The University was thus now in a position to construct 
    its own buildings. In 1909 the present site was selected for the 
    Library, the Senate House and the Law college. 
    These buildings, which now house the Registrar's Office, 
    Senate Hall and the English Department, were designed by 
    Sir Swinley and their construction was approved in 1910. 
    The foundation of the Senate House was laid on 27th feb 1900 
    by Sir John Havett, the Chancellor. The construction of the 
    Senate Hall, the Law College and the former Library building was 
    commenced in 1910 and they were completed in 1925 at the cost of 
    Rs. 11567. 
</p><br/><br/>
</div>