<h1>Actions</h1>

<p>1. The punishment to be meted out to the persons indulged in ragging has to
  be exemplary and justifiably harsh to act as a deterrent against recurrence
  of such incidents. The students who are found to be indulged in ragging
  should be debarred from taking admission in any technical institution in
  India.<br/><br/>

  2. Every single incident of ragging a First Information Report (FIR) must be
  filed without exception by the institutional authorities with the local police
                                    authorities.<br/><br/>
                                    3. Depending upon the nature and gravity of the offence as established by the
                                    Anti-Ragging Committee of the institution, the possible punishments for
                                    those found guilty of ragging at the institution level shall be any one or any
                                    combination of the following.<br/>
                                    (i) Cancellation of admission<br/>
                                    (ii) Suspension from attending classes<br/>
                                    (iii) Withholding/withdrawing scholarship/fellowship and other benefits<br/>
                                    (iv) Debarring from appearing in any test/examination or other<br/>
                                    evaluation process<br/>
                                    (v) Withholding results<br/>
                                    (vi) Debarring from representing the institution in any regional, national
                                    or international meet, tournament, youth festival, etc.<br/>
                                    (vii) Suspension/expulsion from the hostel<br/>
                                    (viii) Rustication from the institution for period ranging from 1 to 4
                                    semesters<br/>
                                    (ix) Expulsion from the institution and consequent debarring from
                                    admission to any other institution.<br/>
                                     (x) Fine of Rupees 25,000/-<br/>
                                    (xi) Collective punishment: when the persons committing or abetting
                                    the crime of ragging are not identified, the institution shall resort to
                                    collective punishment as a deterrent to ensure community pressure
                                    on the potential raggers.<br/><br/>
                                    4. The institutional authority shall intimate the incidents of ragging occurred in
                                    their premises along with actions taken to the Council immediately after
                                    occurrence of such incident and inform the status of the case from time to
                                    time.<br/><br/>
                                    5. Courts should make an effort to ensure that cases involving ragging are taken
                                    up on priority basis to send the correct message that ragging is not only to be
                                    discouraged but also to be dealt with sternness.<br/><br/>
                                </p>
