<table class="table table-hover table-bordered ">
    <thead class="btn-danger">
      <tr>
        <th scope="col"></th>
        <th scope="col">NAME OF THE SCHOLARSHIP</th>
        <th scope="col">TYPE</th>
        <th scope="col">ELIGIBILITY</th>
        <th scope="col">SCHOLARSHIP AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr class="btn-warning">
        <th scope="row" >1</th>
        <td>Memorial Award</td>
        <td>RESEARCH SCHOLAR</td>
        <td>MERITIOUS STUDENT</td>
        <td>25000</td>
      </tr>
      <tr class="btn-success">
        <th scope="row">2</th>
        <td>UGC SHOLARSHIP</td>
        <td>RESEARCH SCHOLAR</td>
        <td>NET EXAM</td>
        <td>12000/- JRF 14000/- SRF + 15% HRA + 10000/- (12000/- FOR SCIENCE) CONTIGENCY</td>
      </tr>
      <tr class="btn-info">
        <th scope="row">3</th>
        <td>CSIR</td>
        <td>RESEARCH SCHOLAR</td>
        <td>NET EXAM (SCIENCE STREAM)</td>
        <td>12000/- JRF 14000/- SRF + 15% HRA + 10000/- (12000/- FOR SCIENCE) CONTIGENCY</td>
      </tr>
      
      <tr class="btn-warning">
        <th scope="row" >4</th>
        <td>Memorial Award</td>
        <td>RESEARCH SCHOLAR</td>
        <td>MERITIOUS STUDENT</td>
        <td>25000</td>
      </tr>
      <tr class="btn-success">
        <th scope="row">5</th>
        <td>UGC SHOLARSHIP</td>
        <td>RESEARCH SCHOLAR</td>
        <td>NET EXAM</td>
        <td>12000/- JRF 14000/- SRF + 15% HRA + 10000/- (12000/- FOR SCIENCE) CONTIGENCY</td>
      </tr>
      <tr class="btn-info">
        <th scope="row">6</th>
        <td>CSIR</td>
        <td>RESEARCH SCHOLAR</td>
        <td>NET EXAM (SCIENCE STREAM)</td>
        <td>12000/- JRF 14000/- SRF + 15% HRA + 10000/- (12000/- FOR SCIENCE) CONTIGENCY</td>
      </tr>
      
      <tr class="btn-warning">
        <th scope="row" >7</th>
        <td>Memorial Award</td>
        <td>RESEARCH SCHOLAR</td>
        <td>MERITIOUS STUDENT</td>
        <td>25000</td>
      </tr>
      <tr class="btn-success">
        <th scope="row">8</th>
        <td>UGC SHOLARSHIP</td>
        <td>RESEARCH SCHOLAR</td>
        <td>NET EXAM</td>
        <td>12000/- JRF 14000/- SRF + 15% HRA + 10000/- (12000/- FOR SCIENCE) CONTIGENCY</td>
      </tr>
      <tr class="btn-info">
        <th scope="row">9</th>
        <td>CSIR</td>
        <td>RESEARCH SCHOLAR</td>
        <td>NET EXAM (SCIENCE STREAM)</td>
        <td>12000/- JRF 14000/- SRF + 15% HRA + 10000/- (12000/- FOR SCIENCE) CONTIGENCY</td>
      </tr>
      
      <tr class="btn-warning">
        <th scope="row" >10</th>
        <td>Memorial Award</td>
        <td>RESEARCH SCHOLAR</td>
        <td>MERITIOUS STUDENT</td>
        <td>25000</td>
      </tr>
      <tr class="btn-success">
        <th scope="row">11</th>
        <td>UGC SHOLARSHIP</td>
        <td>RESEARCH SCHOLAR</td>
        <td>NET EXAM</td>
        <td>12000/- JRF 14000/- SRF + 15% HRA + 10000/- (12000/- FOR SCIENCE) CONTIGENCY</td>
      </tr>
      <tr class="btn-info">
        <th scope="row">12</th>
        <td>CSIR</td>
        <td>RESEARCH SCHOLAR</td>
        <td>NET EXAM (SCIENCE STREAM)</td>
        <td>12000/- JRF 14000/- SRF + 15% HRA + 10000/- (12000/- FOR SCIENCE) CONTIGENCY</td>
      </tr>
      
      

    </tbody>
  </table>

