.df
{
    background-image: url("/assets/image/comp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.b
{
    margin-top: 80px;
    
}

.des p
{
    margin-top: 20px;
}