<div class="df">
 <br/><br/><br/>
  <div class=" text-center">
  <p style="color: crimson; font-size: larger; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Main's state-of-the-art COMPUTER LAB has been home to many achievements.</p>
  <button type="button" class="btn btn-lg btn-primary b" (click)="openModal(template)">click to read more..
  </button>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">THE MAIN COMPUTER CENTER</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">To provide a central computing facility with Network Server for all the students and staff of the University.
      To make the facility available and also offer possible assistance in conducting their research, analysing their data, etc.
      To organise and conduct short term courses for the students and staff of the University.
      To assist various Departments in the University in computerizing their activities.
      To establish, coordinate, maintain and administer campus-wide Network including Internet and allied services.
      To work as co-ordinating centre in networking with computer centres of other universities for exchange of expertise and software.
      To promote and also to undertake Consultancy/Contractual work relating to use of computer facilities or developing software on payment basis, for generating revenue for upkeep/upgrading of computer centre facilities, as per the Rules/Statutes/Ordinances of the University. Such work can be carried out either independently or as a joint venture with other professionals from public or private sectors.
      To keep track of the latest developments in Computer Hardware/Software/internet technologies and collect information, acquire and impart knowledge to the university staff, to collect and collate information/data to facilitate staff and students.
      To develop human resource in the field of Information and Communication Technology.
      To coordinate and extend support to various departments in the university to organize classroom teaching.
      <br/><br/><b> <i><u> A Brief History...</u></i></b><br/><br/>
      
      <b> As a Central facility</b><br/><br/>
      
      This centre was conceived sometimes in 1983-84 to meet out the academic needs of the University and was formally established on 26th January, 1987 with the grant-in-aid from the University Grants Commission(U.G.C.), New delhi. It is a Central Facility of the University.
      
      <br/><br/>
      <b><i> Computer Centre</i></b><br/><br/>
      <i> Introduction</i><br/><br/>
      The UGC has been helping Universities and Colleges through several general as well as specific schemes to keep pace with the developments in the Information and Communication Technologies (ICT). Accordingly, it has been assisting the Universities for setting up Computer Centres since 1970 for <br/>
      
      (a) research & training;<br/>
      
      (b) in application of computers in every field/subject<br/>
      
      (c) supporting the development of MCA/M.Sc. (Computer Science) programmes and computer application papers at Postgraduate level in certain disciplines.<br/>
      
      <br/><br/><b> Objective of the Scheme:</b><br/><br/>
      The Objective of the Scheme is to set up a Computer Centre as a Central facility for the growth and development of teaching, research, other related activities in addition to the work relating to the administration, finance, examination, admission of the University, etc.
      
       
  </p>
  </div>
</ng-template>
</div>




